
  #user-icon {
    margin-right: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  input[type="text"], input[type="password"], input[type="email"]  {
    border: none;
    margin: 10px;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  input[type="submit"] {
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    font-size: 16px;
  }

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/*TITULO*/
.section-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.section-title h2 {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  padding: 20px;
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 2px;
  background-color: #000;
}

.section-title h2::before {
  left: 0;
  transform: translate(-100%, -50%);
}

.section-title h2::after {
  right: 0;
  transform: translate(100%, -50%);
}


/*Registro*/
body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.login2-form {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
  }

.login-form img {
  width: 350px;
  margin-right: 20px;
}

.login-form form {
  width: 400px;
}

.login-form label,
.login-form input,
.login-form button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.login-form button {
  padding: 10px;
  background-color: #F05853;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #000000;
}

.login-form a {
  color: #000000;
}
  
/* Estilos para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
  .logo-container img {
    padding-right: 30px;
  }

  .nav-container {
    margin-right: 30px;
  }

  .search-container input[type="text"] {
    width: 200px;
  }

  .icon-container {
    margin-left: 50px;
  }

  .login-form-container{
    right: 10px;
  }

  #image-slider{
    height: 300px;
  }
  
  #image-slider img{
    height: 100%;
  }
  
  .prev,
  .next {
    font-size: 18px;
    padding: 10px;
  }
}





